#bot .nav-link{
    color: white ;
    margin-left: 0.5rem;
    font-size: 14px;
    padding: 10px;
    text-align: -webkit-center;
    border-left: 1px solid white ;
}
#bottomBord{
    border-left: none !important;
}
#bot{
    z-index: 1;
}
#bot .nav-link:focus{
    border-radius: 0px !important;
}
#bot .nav-link:hover{
    text-decoration: underline;
    color: #efefef;
}